body {
  background: #eee;
  text-align: center;
  font-family: sans-serif; }

.off {
  display: none; }

.loginArea {
  background-color: #A1D7D9;
  display: inline-block;
  width: 100%;
  font-size: 24px; }

.loginContainer {
  position: fixed;
  top: 0;
  background-color: #A1D7D9;
  height: 100%;
  width: 100%; }
  .loginContainer .heroImg {
    width: 95%;
    margin: 2% 0 0 2.5%;
    height: 200px; }

.eachLogin {
  text-align: center;
  height: 70px;
  font-size: 24px; }
  .eachLogin input {
    height: 60px;
    width: 300px;
    font-size: 20px;
    margin: 1% 0 0 0; }

.regModalText {
  font-size: 14px;
  margin: -20px 0 0 0; }

.regLogin {
  text-align: center;
  height: 70px;
  font-size: 24px;
  margin: 50px 0 0 0; }
  .regLogin input {
    height: 60px;
    width: 300px;
    font-size: 20px;
    margin: 3% 0 3% 0; }

.sponsorImgs {
  border-top: 1px #327d80 solid; }

.needRegBtn {
  display: inline-block;
  background: #73948d;
  width: 100%;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0; }

.login-presented-text {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 150px 0 0 0; }

.login-sponsor-text {
  font-size: 14px;
  margin: -5px 0 5px 0; }

.cc-logo {
  width: 95%;
  height: 70px; }

.TFD-logo {
  width: 49%;
  height: 60px; }

.COD-logo {
  width: 49%;
  height: 60px; }

.modalGrey {
  background: rgba(115, 148, 141, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1; }

.modalBox {
  background: #A1D7D9;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 85%;
  height: 500px;
  padding: 10px;
  z-index: 15; }
  .modalBox input {
    height: 60px;
    width: 300px;
    font-size: 24px;
    z-index: 17;
    margin: -50px 0 0 0; }

.hamburger {
  display: visible;
  padding-top: 40px;
  box-sizing: border-box;
  float: left;
  background: #327d80;
  height: 100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  z-index: 50; }

.hamburger:active {
  background: #045e4b; }

.hamMenu {
  background: #327d80;
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  z-index: 15; }

.menuOpt:active {
  background: #045e4b; }

.back {
  display: visible;
  padding-top: 20px;
  box-sizing: border-box;
  float: left;
  background: #327d80;
  height: 100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  z-index: 50; }

.back:active {
  background: #045e4b; }

.iconDesc {
  width: 80;
  text-align: center;
  font-size: 12px;
  color: #A1D7D9;
  border-bottom: 1px solid #A1D7D9; }

.logoutBtn {
  color: red;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 24px; }

.logoutBtn:active {
  background: #701111; }

.dashBanner {
  height: 100px;
  width: 100%;
  vertical-align: middle;
  background: #A1D7D9;
  color: #35b0b5;
  font-size: 24px; }

.dashLogin {
  margin-top: -20px;
  font-size: 28px;
  color: #35b0b5;
  font-family: sans-serif;
  float: left; }

.dashTitle {
  font-size: 64px;
  color: #35b0b5;
  font-family: sans-serif;
  float: left;
  margin-top: -35px; }

.heroImg {
  width: 100%; }

.allQuestions {
  display: inline-block;
  width: 100%; }

.qBox {
  position: relative;
  width: 80%;
  height: 125px;
  margin-left: 15%;
  background: #bfe4dc;
  border: black 1px solid; }
  .qBox .answered {
    background: #5fb948; }

.qBoxLeft {
  float: left;
  display: inline-block;
  padding-top: 15px;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  background: #A1D7D9;
  font-size: 48px;
  height: 100%;
  width: 20%; }
  .qBoxLeft .answered {
    color: #5fb948;
    background: #5fb948; }

.qBoxMiddle {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  width: 40%;
  height: 100%;
  padding-top: 20px;
  background: #eee; }

.anwserTheQ {
  float: left;
  font-size: 24px;
  box-sizing: border-box;
  background: #A1D7D9;
  height: 100%;
  width: 40%; }
  .anwserTheQ .answered {
    color: #5fb948;
    background: #5fb948; }

.question {
  font-size: 5em;
  border: solid thin black; }

.questionText {
  font-size: 36px;
  color: #eee; }

.answerContainer {
  padding: 20px; }
  .answerContainer textarea {
    width: 100%;
    height: 200px;
    border: 1px black solid;
    font-size: 24px; }
  .answerContainer textarea::-webkit-input-placeholder {
    font-size: 24px; }
  .answerContainer textarea::-webkit-input-placeholder {
    font-size: 24px; }
  .answerContainer textarea:-moz-placeholder {
    /* Firefox 18- */
    font-size: 24px; }
  .answerContainer textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 24px; }
  .answerContainer textarea:-ms-input-placeholder {
    font-size: 24px; }

.itemCheckFrm {
  display: inline-block;
  font-size: 24px;
  margin-top: 50px; }

.radioBtn {
  width: 42px;
  height: 42px; }

.PicGPSContainer {
  width: 100%;
  display: inline-block; }

.gpsBox {
  display: inline-block;
  float: right;
  max-width: 49%;
  height: 300px;
  background: #eff0c7; }

.picBox {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 350px;
  border: 10px dashed #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0); }

.userPic {
  z-index: 0; }

.uploadWords {
  position: absolute;
  top: 320px;
  left: 60px;
  color: #797979; }

.imgUpload {
  color: white; }

.fileLoader {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 349px;
  height: 349px;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  border: red 1px solid; }

.anwserDebug {
  background: #e43cff; }

.submitBtnContainer {
  width: 100%;
  margin-top: 10px; }

.submitAnswerBtn {
  text-align: center;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  background: #409646;
  font-size: 48px; }

.submitAnswerBtn:active {
  background: #61fb6b; }

.backToQsBtn {
  float: left;
  background: purple;
  height: 100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 18px; }

.backToQsBtn:active {
  background: #311c33; }

/*# sourceMappingURL=main.css.map */
