body{
  background: #A1D7D9;
  text-align: center;
  font-family: sans-serif;
}
.off{
  display: none;
}
.loginArea{
  display: inline-block;
  //border: green 1px solid;
  height: 300px;
  font-size: 24px;
}
.eachLogin{
  text-align: center;
  //border: blue 1px solid;
  height: 70px;
  font-size: 36px;
  input{
    height:60px;
    width: 300px;
    font-size: 34px;
  }
}
.needRegBtn{
  display: inline-block;
  background: rgb(115, 148, 141);
  width: 300px;
  padding:15px;
  text-align: center;
}
.modalGrey{
  background: rgba(115, 148, 141, .5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 1;
}
.modalBox{
  background: #A1D7D9;
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 30%;
  // margin-top: 40%;
  // margin-left: 25%;
  z-index: 15;
  input{
    height:60px;
    width: 300px;
    font-size: 34px;
    z-index: 17;
  }
}
.logoutBtn{
  // border: purple 1px solid;
  float: left;
  background: red;
  height:100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}
.logoutBtn:active{
  background: rgb(112, 17, 17);
}
.heroImg{
  width:100%;
}
.allQuestions{
  display: inline-block;
  width: 100%;
  //border: red 1px solid;
}
.qBox{
  position: relative;
  width: 80%;
  height: 150px;
  margin-left: 10%;
  background: rgb(191, 228, 220);
  display: block;
  //border: yellow 1px solid;
}
.qBoxLeft{
  //border: green 1px solid;
  //box-sizing: border-box;
  position: absolute;
  padding-top: 30px;
  box-sizing: border-box;
  top:0px;
  left:0px;
  background: white;
  font-size: 72px;
  height:100%;
  width: 20%;
  //padding-top: 35px;
}
.qBoxMiddle{
  //border: red 1px solid;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  font-size: 24px;
  width: 60%;
  height:100%;
  padding-top: 20px;
}
.anwserTheQ{
  //border: green 1px solid;
  font-size: 36px;
  position: absolute;
  box-sizing: border-box;
  background: white;
  height:100%;
  width: 20%;
  padding-top: 50px;
}
.anwserTheQ:active{
  background: yellow;
}
.dashBanner{
  height: 150px;
  width: 101%;
  vertical-align: middle;
  background: rgb(40, 86, 163);
  font-size:36px;
}

.question{
  font-size: 5em;
  border: solid thin black;
}
.questionText{
  font-size: 40px;
  color: white;
}
.answerContainer{
  //padding: 20px;
  textarea{
    width: 100%;
    height: 200px;
  }
  textarea::-webkit-input-placeholder {
    font-size: 36px;
  }
  textarea::-webkit-input-placeholder {
   font-size: 36px;
  }
  textarea:-moz-placeholder { /* Firefox 18- */
   font-size: 36px;
  }
  textarea::-moz-placeholder {  /* Firefox 19+ */
   font-size: 36px;
  }
  textarea:-ms-input-placeholder {
   font-size: 36px;
  }
}
.itemCheckFrm{
  display: inline-block;
  font-size: 36px;
  margin-top: 50px;
}
.radioBtn{
  width: 42px;
  height: 42px;
}
.PicGPSContainer{
  width:100%;
}
.gpsBox{
  display: inline-block;
  //padding-left:.5%;
  float: right;
  max-width:49%;
  height:400px;
  background: rgb(239, 240, 199);
}
.picBox{
  display: inline-block;
  //padding-right:.5%;
  float: left;
  width:49%;
  height:400px;
  background: rgb(239, 240, 199);
}
.anwserDebug{
  background: rgb(228, 60, 255);
}
.submitAnswerBtn{
  text-align: center;
  width: 80%;
  height: 100px;
  margin-left:10%;
  background: rgb(64, 150, 70);
  font-size: 72px;
}
.submitAnswerBtn:active{
  background: rgb(97, 251, 107);
}
.backToQsBtn{
  float: left;
  background: purple;
  height:100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}
.backToQsBtn:active{
  background: rgb(49, 28, 51);
}
