body{
  background: #eee;
  //background: red;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}
.off{
  display: none;
}
.loginArea{
  background-color: #A1D7D9;
  display: inline-block;
  //border: green 1px solid;
  //height: 100%;
  width: 100%;
  font-size: 24px;
}
.loginContainer{
  position: fixed;
  top: 0;
  background-color: #A1D7D9;
  height: 100%;
  width: 100%;
  .heroImg{
    width: 95%;
    margin: 2% 0 0 2.5%;
    height: 150px;
  }
}

.resetPassBtn{
  font-size: 20px;
  color: darken(gray, 15%);
  border: solid thin darken(gray, 15%);
  width: 70%;
  margin: 0 0 0 15%;
  padding: 1%;
}
.eachLogin{
  text-align: center;
  //border: blue 1px solid;
  height: 50px;
  font-size: 24px;
  input{
    height:40px;
    width: 300px;
    font-size: 20px;
    margin: 3% 0 0 0;
  }
}
.regModalText{
  font-size: 14px;
  margin: -20px 0 0 0;
}
.regLogin{
  text-align: center;
  // border: blue 1px solid;
  height: 70px;
  font-size: 24px;
  margin: 50px 0 0 0;
  .regInput{
    height:40px;
    width: 250px;
    font-size: 20px;
    margin: 0;
  }
}
.sponsorImgs{
  border-top: 1px #327d80 solid;
}
.needRegBtn{
  display: inline-block;
  background: #c84035;
  width: 100%;
  padding:15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.login-presented-text{
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 130px 0 -5px 0;
}
.login-sponsor-text{
  font-size: 14px;
  margin: -5px 0 5px 0;
}
.cc-logo{
  width: 95%;
  height: 70px;
}
.TFD-logo{
  width: 45%;
  height: 60px;
}
.COD-logo{
  width: 45%;
  height: 60px;
}


@media  screen and (min-width: 1023px){
  .loginContainer{
    .heroImg{
      width: 30%;
      margin: 2% 0 0 0;
    }
  }
  .eachLogin{
    text-align: center;
    //border: blue 1px solid;
    height: 50px;
    font-size: 24px;
    margin: 0 0 0 40%;
    input{
      height:40px;
      width: 300px;
      font-size: 20px;
      margin: 3% 0 0 0;
      display: block;
    }
  }
  .cc-logo{
    width: 60%;
    height: 70px;
  }
  .TFD-logo{
    width: 25%;
    height: 80px;
  }
  .COD-logo{
    width: 25%;
    height: 80px;
  }
  .needRegBtn{
    display: none;
  }
}


.modalGrey{
  background: rgba(115, 148, 141, 1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 15;
}
.modalBox{
  background: #A1D7D9;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 85%;
  //width: 50%;
  height: 500px;
  padding: 10px;
  z-index: 15;
  input{
    height:60px;
    width: 300px;
    font-size: 24px;
    z-index: 17;
    margin: -50px 0 0 0;
  }
}

#resetPasswordForm{
  text-align: center;

  input {
    height:40px;
    width: 300px;
    font-size: 24px;
    margin: 3% 0 0 0;
  }

}
.reset-go-home{
  margin: 100px 0;
  font-size: 20px;
}

.hamburger{
  // border: purple 1px solid;
  display: visible;
  padding-top: 20px;
  box-sizing: border-box;
  float: left;
  background: #327d80;
  height:100%;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  z-index: 50;
  color: lighten(#35b0b5, 8%);
}
.hamburger:active{
  background: #045e4b;
}
.hamMenu{
  background: #327d80;
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  z-index: 200000000;
}
.menuOpt:active{
  background: #045e4b;
}
.menuOpt{
  z-index: 100;
}
.back{
    // border: purple 1px solid;
    display: visible;
    padding-top: 15px;
    box-sizing: border-box;
    float: left;
    background: #327d80;
    height:100%;
    width: 20%;
    vertical-align: middle;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    z-index: 50;
}
.back:active{
  background: #045e4b;
}
.iconDesc{
  width: 80;
  text-align: center;
  font-size: 12px;
  color: #A1D7D9;
  border-bottom: 1px solid #A1D7D9;
}
.logoutBtn{
  // border: purple 1px solid;
  //background: red;
  color: red;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}
.logoutBtn:active{
  background: rgb(112, 17, 17);
}
.aboutHunt{
  text-align: left;
  padding: 15px;
}
.dashBanner{
  position: fixed;
  height: 70px;
  width: 100%;
  vertical-align: middle;
  background: #A1D7D9;
  color:  #35b0b5;
  font-size:24px;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
}
.dashLogin{
  font-size: 28px;
  color: #35b0b5;
  font-family: sans-serif;
  text-align: center;
  text-overflow: ellipsis;

}
.dashTitle{
  font-size: 40px;
  color: #35b0b5;
  font-family: sans-serif;
  float: left;
  margin: 10px 0 0 5px;
  text-align: center;
  text-overflow: ellipsis;
}
.heroImg{
  width:100%;
}
.allQuestions{
  //margin-top: 200px;
  display: block;
  width: 100%;
  margin: 80px 0 0 0;
  z-index: -5;
  // border: red 1px solid;
  .questionLabel{
    color: lighten(gray, 32%);
  }
}
.qBoxWrap{
  width: 40%;
  height: 100px;
  //box-sizing: border-box;
  margin: 2%;
  background: rgb(191, 228, 220);
  border: black 1px solid;
  //display: inline-block;
  z-index: 0;
  display: inline-block;
  .answered{
    background: rgb(95, 185, 72);
  }
}
.qBox{
  position: relative;
  display: block;
  padding-top: 5px;
  box-sizing: border-box;
  background: #A1D7D9;
  height: 100px;
  .qNumberText{
    font-size: 40px;
  }
  .qAnswerStatus{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1% 0;
  }
  .answered{
    color: rgb(95, 185, 72);
    background: rgb(95, 185, 72);
  }
  //padding-top: 35px;
}
// .qBoxMiddle{
//   //border: red 1px solid;
//   float: left;
//   display: inline-block;
//   box-sizing: border-box;
//   padding: 15px;
//   font-size: 18px;
//   width: 40%;
//   height:100%;
//   padding-top: 20px;
//   background: #eee;
// }
// .anwserTheQ{
//   //border: green 1px solid;
//   float: left;
//   font-size: 24px;
//   //position: absolute;
//   //display: inline-block;
//   box-sizing: border-box;
//   background: #A1D7D9;
//   height:100%;
//   width: 40%;
//   .answered{
//     color: rgb(95, 185, 72);
//     background: rgb(95, 185, 72);
//   }
// }
 .question{
  font-size: 5em;
  border: solid thin black;
}
.questionText{
  font-size: 12px;
  color: black;
}
.answerContainer{
  padding: 20px;
  // border: solid thin red;
  margin: 40px 0 0 0;
  display: block;
  textarea{
    //margin-top: 200px;
    width: 100%;
    height: 200px;
    border: 1px black solid;
    font-size: 24px;
    margin: 20px 0 0 0;
  }
  textarea::-webkit-input-placeholder {
    font-size: 24px;
  }
  textarea::-webkit-input-placeholder {
   font-size: 24px;
  }
  textarea:-moz-placeholder { /* Firefox 18- */
   font-size: 24px;
  }
  textarea::-moz-placeholder {  /* Firefox 19+ */
   font-size: 24px;
  }
  textarea:-ms-input-placeholder {
   font-size: 24px;
  }
}
.itemCheckFrm{
  display: inline-block;
  font-size: 24px;
  margin-top: 50px;
}
.radioBtn{
  width: 42px;
  height: 42px;
}
.PicGPSContainer{
  width:100%;
  display: inline-block;
}
.gpsBox{
  display: inline-block;
  //padding-left:.5%;
  float: right;
  max-width:49%;
  height:300px;
  background: rgb(239, 240, 199);
}
.picBox{
  position: relative;
  display: inline-block;
  width: 90%;
  height:350px;
  border: 10px dashed #fff;
  border-radius: 10px;
  background: rgba(255,255,255,0);
  img{
    z-index: 20;
  }
}
.userPic{
  z-index: 20;
}
.uploadWords{
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  color: rgb(121, 121, 121);
  z-index: 0;
}
.imgUpload{
  color: white;
}
.fileLoader{
  z-index: 5;
  position: absolute;
  top: 0px;
  left:0px;
  opacity: 0;
  width: 349px;
  height: 349px;
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,0);
  border: red 1px solid;
}
.anwserDebug{
  background: rgb(228, 60, 255);
}
.submitBtnContainer{
  width: 100%;
  margin-top: 10px;
}
.submitAnswerBtn{
  text-align: center;
  width: 90%;
  margin: 5px 0 0 5%;
  background: rgb(64, 150, 70);
  border: solid 4px darken(rgb(64, 150, 70), 20%);
  font-size: 35px;
  padding: 15px 0;
}
.submitAnswerBtn:active{
  background: rgb(97, 251, 107);
}
.backToQsBtn{
  float: left;
  background: purple;
  height:100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
}
.backToQsBtn:active{
  background: rgb(49, 28, 51);
}
.sponsorLine{
  border-bottom: 1px rgb(95, 185, 72) solid;
  position: relative;
  text-align: center;
}
.sponsorTitle{
  // position: absolute;
  padding: 5px;
  top: 12px;
  font-size: 24px;
  background: #eee;
  border-left: 1px rgb(95, 185, 72) solid;
  border-right: 1px rgb(95, 185, 72) solid;
  // color: rgb(95, 185, 72);
}


// JUDGES PORTAL "I DIDNT COPY ANY CLASSES"-MATT
$cshBlue: #94CED1;
$cshMidBlue: #2D7A7C;
$cshDarkBlue: #233F51;
$cshRed: #DB432B;
$cshGreen: #90A039;

.topDash{
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background: $cshBlue;
  //background: "#94CED1";
  //background: blue;
  .red{
    color: $cshRed;
  }
  .white{
    color: white;
  }
  .blue{
    color: $cshMidBlue;
  }
}
.loginFrm{
  text-align: center;
  font-family: sans-serif;
}
.loginBtn{
  display: inline-block;
  background: $cshGreen;
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  padding-top: 10px;
  //text-align: center;
}
.loginBtn:hover{
  background: #7add17;
}
.teamListContainer{
  width: 100%;
  margin-top: 20px;
  font-family: sans-serif;
}
.teamList1{
  vertical-align: top;
  background-color: $cshGreen;
  padding: 10px;
  box-sizing: border-box;
  //border: red 1px solid;
  width: 30%;
  display: inline-block;
  margin-left: 5%;
}
.teamList2{
  vertical-align: top;
  background-color: $cshBlue;
  padding: 10px;
  box-sizing: border-box;
  //border: red 1px solid;
  width: 30%;
  display: inline-block;
}
.teamList3{
  vertical-align: top;
  background-color: $cshRed;
  padding: 10px;
  box-sizing: border-box;
  //border: red 1px solid;
  width: 30%;
  display: inline-block;
}
.teamLink{
  margin:5px;
  text-decoration: underline;
}
.teamLink:hover{
  background: white;
  color: black;
  cursor:pointer;
}
.teamLink:hover{
  margin:5px;
  text-decoration: underline;
  color: $cshDarkBlue;
}
.listTitle{
  border-bottom: $cshDarkBlue 1px solid;
  text-align: center;
  color: white;
}
.AnswerArea{
  //background: red;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.answeredQuestionsList{
  display: inline-block;
  text-align: center;
  float:left;
  background: $cshBlue;
  width: 40%;
  margin-left: 10%;
  padding: 10px;
}
.oneQuestion{
  font-family: sans-serif;
  display: inline-block;
  font-size: 28px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  height: 50px;
  border: 2px $cshMidBlue solid;
  background: $cshBlue;
  width: 102%;
}
.selected{
  background: $cshMidBlue;
  color: white;
}
.accepted{
  background: $cshGreen;
}
.rejected{
  background: $cshRed;
}
.oneQuestion:hover{
  background: $cshMidBlue;
  color: white;
}
.questionAnswer{
  padding: 20px;
  box-sizing: border-box;
  background: $cshMidBlue;
  width: 38.4%;
  position: fixed;
  left: 51.5%;
  height: 725px;
  margin-right: 10%;
  float:right;
}
.thumbsContainer{
  text-align: center;
}
.imgURLWrapper{
  border: 3px dashed $cshBlue;
  border-radius: 5px;
}
.backToTeams{
  box-sizing: border-box;
  padding-top: 50px;
  position: absolute;
  top:0;
  height: 120px;
  background: $cshRed;
  width:100px;
}
.backToLogin{
  box-sizing: border-box;
  padding-top: 50px;
  position: absolute;
  top:0;
  height: 120px;
  background: $cshRed;
  width:100px;
}
.toLeader{
  box-sizing: border-box;
  padding-top: 50px;
  position: absolute;
  top:0;
  left:90.7%;
  height: 120px;
  background: $cshGreen;
  width:100px;
}
.backToLogin:hover{
  background: red;
}
.backToTeams:hover{
  background: red;
}
.yep{
  //background: $cshGreen;
  border: 1px $cshGreen solid;
  display: inline-block;
  width:100px;
  font-family: sans-serif;
  font-size: 12px;
}
.yep:hover{
  background: $cshGreen;
  border: 1px green solid;
}
.nope{
  //background: $cshRed;
  border: 1px $cshRed solid;
  display: inline-block;
  width:100px;
  font-family: sans-serif;
  font-size: 12px;
}
.nope:hover{
  background: rgb(125, 41, 41);
  border: 1px red solid;
}
.teamInfo{
  font-size: 24px;
  color: $cshDarkBlue;
}
.teamInfoEmphasis{
  font-size: 28px;
  color: white;
  font-weight: 900;
}
.pts{
  font-size: 36px;
  color: $cshGreen;
  font-weight: 900;
}
.answerTitles{
  font-size: 18px;
  color: $cshBlue;
}
.verified{
  background: $cshGreen;
}
.rejected{
  background:$cshRed;
}
.variablePtsModal{
  position: fixed;
  z-index: 17;
  top: 200px;
  left: 300px;
  width: 500px;
  height: 300px;
  background: rgb(236, 247, 142);
}
.leaderListTitle{
  border-bottom: $cshDarkBlue 1px solid;
  text-align: center;
  color: white;
}
.leadTeamLink3:nth-of-type(n){
  margin:5px;
  width: 100%;
  background: $cshGreen;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444;
}
.leadTeamLink3:nth-of-type(2n){
  margin:5px;
  width: 100%;
  background: rgb(86, 139, 78);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444;
}

.leadTeamLink2:nth-of-type(n){
  margin:5px;
  width: 100%;
  background: $cshRed;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444;
}
.leadTeamLink2:nth-of-type(2n){
  margin:5px;
  width: 100%;
  background: rgb(156, 72, 72);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444;
}

.leadTeamLink1:nth-of-type(n){
  margin:5px;
  width: 100%;
  background: $cshBlue;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444;
}
.leadTeamLink1:nth-of-type(2n){
  margin:5px;
  width: 100%;
  background: $cshMidBlue;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444;
}
.leadTeamLink1:nth-of-type(1){
  font-size: 30px;
  color: white;
}
.leadTeamLink1:nth-of-type(2){
  font-size: 24px;
  color: #ccc;
}
.leadTeamLink1:nth-of-type(3){
  font-size: 18px;
  color: #aaa;
}
.leadTeamLink2:nth-of-type(1){
  font-size: 30px;
  color: white;
}
.leadTeamLink2:nth-of-type(2){
  font-size: 24px;
  color: #ccc;
}
.leadTeamLink2:nth-of-type(3){
  font-size: 18px;
  color: #aaa;
}
.leadTeamLink3:nth-of-type(1){
  font-size: 30px;
  color: white;
}
.leadTeamLink3:nth-of-type(2){
  font-size: 24px;
  color: #ccc;
}
.leadTeamLink3:nth-of-type(3){
  font-size: 18px;
  color: #aaa;
}
.teamScore{
  margin:5px;
  color: rgb(237, 254, 56);
}
