body {
  background: #eee;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box; }

.off {
  display: none; }

.loginArea {
  background-color: #A1D7D9;
  display: inline-block;
  width: 100%;
  font-size: 24px; }

.loginContainer {
  position: fixed;
  top: 0;
  background-color: #A1D7D9;
  height: 100%;
  width: 100%; }
  .loginContainer .heroImg {
    width: 95%;
    margin: 2% 0 0 2.5%;
    height: 150px; }

.resetPassBtn {
  font-size: 20px;
  color: #5a5a5a;
  border: solid thin #5a5a5a;
  width: 70%;
  margin: 0 0 0 15%;
  padding: 1%; }

.eachLogin {
  text-align: center;
  height: 50px;
  font-size: 24px; }
  .eachLogin input {
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin: 3% 0 0 0; }

.regModalText {
  font-size: 14px;
  margin: -20px 0 0 0; }

.regLogin {
  text-align: center;
  height: 70px;
  font-size: 24px;
  margin: 50px 0 0 0; }
  .regLogin .regInput {
    height: 40px;
    width: 250px;
    font-size: 20px;
    margin: 0; }

.sponsorImgs {
  border-top: 1px #327d80 solid; }

.needRegBtn {
  display: inline-block;
  background: #73948d;
  width: 100%;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0; }

.login-presented-text {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 130px 0 -5px 0; }

.login-sponsor-text {
  font-size: 14px;
  margin: -5px 0 5px 0; }

.cc-logo {
  width: 95%;
  height: 70px; }

.TFD-logo {
  width: 45%;
  height: 60px; }

.COD-logo {
  width: 45%;
  height: 60px; }

.modalGrey {
  background: #73948d;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15; }

.modalBox {
  background: #A1D7D9;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 85%;
  height: 500px;
  padding: 10px;
  z-index: 15; }
  .modalBox input {
    height: 60px;
    width: 300px;
    font-size: 24px;
    z-index: 17;
    margin: -50px 0 0 0; }

#resetPasswordForm {
  text-align: center; }
  #resetPasswordForm input {
    height: 40px;
    width: 300px;
    font-size: 24px;
    margin: 3% 0 0 0; }

.reset-go-home {
  margin: 100px 0;
  font-size: 20px; }

.hamburger {
  display: visible;
  padding-top: 20px;
  box-sizing: border-box;
  float: left;
  background: #327d80;
  height: 100%;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  z-index: 50;
  color: #49c5ca; }

.hamburger:active {
  background: #045e4b; }

.hamMenu {
  background: #327d80;
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  z-index: 200000000; }

.menuOpt:active {
  background: #045e4b; }

.menuOpt {
  z-index: 100; }

.back {
  display: visible;
  padding-top: 15px;
  box-sizing: border-box;
  float: left;
  background: #327d80;
  height: 100%;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  z-index: 50; }

.back:active {
  background: #045e4b; }

.iconDesc {
  width: 80;
  text-align: center;
  font-size: 12px;
  color: #A1D7D9;
  border-bottom: 1px solid #A1D7D9; }

.logoutBtn {
  color: red;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 24px; }

.logoutBtn:active {
  background: #701111; }

.dashBanner {
  position: fixed;
  height: 70px;
  width: 100%;
  vertical-align: middle;
  background: #A1D7D9;
  color: #35b0b5;
  font-size: 24px;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14); }

.dashLogin {
  font-size: 28px;
  color: #35b0b5;
  font-family: sans-serif;
  text-align: center;
  text-overflow: ellipsis; }

.dashTitle {
  font-size: 40px;
  color: #35b0b5;
  font-family: sans-serif;
  float: left;
  margin: 10px 0 0 5px;
  text-align: center;
  text-overflow: ellipsis; }

.heroImg {
  width: 100%; }

.allQuestions {
  display: block;
  width: 100%;
  margin: 80px 0 0 0;
  z-index: -5; }
  .allQuestions .questionLabel {
    color: #d2d2d2; }

.qBoxWrap {
  width: 40%;
  height: 100px;
  margin: 2%;
  background: #bfe4dc;
  border: black 1px solid;
  z-index: 0;
  display: inline-block; }
  .qBoxWrap .answered {
    background: #5fb948; }

.qBox {
  position: relative;
  display: block;
  padding-top: 5px;
  box-sizing: border-box;
  background: #A1D7D9;
  height: 100px; }
  .qBox .qNumberText {
    font-size: 40px; }
  .qBox .qAnswerStatus {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1% 0; }
  .qBox .answered {
    color: #5fb948;
    background: #5fb948; }

.question {
  font-size: 5em;
  border: solid thin black; }

.questionText {
  font-size: 12px;
  color: black; }

.answerContainer {
  padding: 20px;
  margin: 40px 0 0 0;
  display: block; }
  .answerContainer textarea {
    width: 100%;
    height: 200px;
    border: 1px black solid;
    font-size: 24px;
    margin: 20px 0 0 0; }
  .answerContainer textarea::-webkit-input-placeholder {
    font-size: 24px; }
  .answerContainer textarea::-webkit-input-placeholder {
    font-size: 24px; }
  .answerContainer textarea:-moz-placeholder {
    /* Firefox 18- */
    font-size: 24px; }
  .answerContainer textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 24px; }
  .answerContainer textarea:-ms-input-placeholder {
    font-size: 24px; }

.itemCheckFrm {
  display: inline-block;
  font-size: 24px;
  margin-top: 50px; }

.radioBtn {
  width: 42px;
  height: 42px; }

.PicGPSContainer {
  width: 100%;
  display: inline-block; }

.gpsBox {
  display: inline-block;
  float: right;
  max-width: 49%;
  height: 300px;
  background: #eff0c7; }

.picBox {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 350px;
  border: 10px dashed #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0); }
  .picBox img {
    z-index: 20; }

.userPic {
  z-index: 20; }

.uploadWords {
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  color: #797979;
  z-index: 0; }

.imgUpload {
  color: white; }

.fileLoader {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 349px;
  height: 349px;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  border: red 1px solid; }

.anwserDebug {
  background: #e43cff; }

.submitBtnContainer {
  width: 100%;
  margin-top: 10px; }

.submitAnswerBtn {
  text-align: center;
  width: 90%;
  margin: 5px 0 0 5%;
  background: #409646;
  border: solid 4px #214f25;
  font-size: 35px;
  padding: 15px 0; }

.submitAnswerBtn:active {
  background: #61fb6b; }

.backToQsBtn {
  float: left;
  background: purple;
  height: 100%;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 18px; }

.backToQsBtn:active {
  background: #311c33; }

.sponsorLine {
  border-bottom: 1px #5fb948 solid;
  position: relative;
  text-align: center; }

.sponsorTitle {
  padding: 5px;
  top: 12px;
  font-size: 24px;
  background: #eee;
  border-left: 1px #5fb948 solid;
  border-right: 1px #5fb948 solid; }

.topDash {
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background: #94CED1; }
  .topDash .red {
    color: #DB432B; }
  .topDash .white {
    color: white; }
  .topDash .blue {
    color: #2D7A7C; }

.loginFrm {
  text-align: center;
  font-family: sans-serif; }

.loginBtn {
  display: inline-block;
  background: #90A039;
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  padding-top: 10px; }

.loginBtn:hover {
  background: #7add17; }

.teamListContainer {
  width: 100%;
  margin-top: 20px;
  font-family: sans-serif; }

.teamList1 {
  vertical-align: top;
  background-color: #90A039;
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  margin-left: 5%; }

.teamList2 {
  vertical-align: top;
  background-color: #94CED1;
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  display: inline-block; }

.teamList3 {
  vertical-align: top;
  background-color: #DB432B;
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  display: inline-block; }

.teamLink {
  margin: 5px;
  text-decoration: underline; }

.teamLink:hover {
  background: white;
  color: black;
  cursor: pointer; }

.teamLink:hover {
  margin: 5px;
  text-decoration: underline;
  color: #233F51; }

.listTitle {
  border-bottom: #233F51 1px solid;
  text-align: center;
  color: white; }

.AnswerArea {
  display: inline-block;
  width: 100%;
  height: 100%; }

.answeredQuestionsList {
  display: inline-block;
  text-align: center;
  float: left;
  background: #94CED1;
  width: 40%;
  margin-left: 10%;
  padding: 10px; }

.oneQuestion {
  font-family: sans-serif;
  display: inline-block;
  font-size: 28px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  height: 50px;
  border: 2px #2D7A7C solid;
  background: #94CED1;
  width: 102%; }

.selected {
  background: #2D7A7C;
  color: white; }

.accepted {
  background: #90A039; }

.rejected {
  background: #DB432B; }

.oneQuestion:hover {
  background: #2D7A7C;
  color: white; }

.questionAnswer {
  padding: 20px;
  box-sizing: border-box;
  background: #2D7A7C;
  width: 38.4%;
  position: fixed;
  left: 51.5%;
  height: 650px;
  margin-right: 10%;
  float: right; }

.thumbsContainer {
  text-align: center; }

.imgURLWrapper {
  border: 3px dashed #94CED1;
  border-radius: 5px; }

.backToTeams {
  box-sizing: border-box;
  padding-top: 50px;
  position: absolute;
  top: 0;
  height: 120px;
  background: #DB432B;
  width: 100px; }

.backToLogin {
  box-sizing: border-box;
  padding-top: 50px;
  position: absolute;
  top: 0;
  height: 120px;
  background: #DB432B;
  width: 100px; }

.backToLogin:hover {
  background: red; }

.backToTeams:hover {
  background: red; }

.yep {
  border: 1px #90A039 solid;
  display: inline-block;
  width: 100px;
  font-family: sans-serif; }

.yep:hover {
  background: #90A039;
  border: 1px green solid; }

.nope {
  border: 1px #DB432B solid;
  display: inline-block;
  width: 100px;
  font-family: sans-serif; }

.nope:hover {
  background: #7d2929;
  border: 1px red solid; }

.teamInfo {
  font-size: 24px;
  color: #233F51; }

.teamInfoEmphasis {
  font-size: 28px;
  color: white;
  font-weight: 900; }

.pts {
  font-size: 36px;
  color: #90A039;
  font-weight: 900; }

.answerTitles {
  font-size: 18px;
  color: #94CED1; }

.verified {
  background: #90A039; }

.rejected {
  background: #DB432B; }

.variablePtsModal {
  position: fixed;
  z-index: 17;
  top: 200px;
  left: 300px;
  width: 500px;
  height: 300px;
  background: yellow; }

/*# sourceMappingURL=main.css.map */
