<template name="aboutPg">
  <div class="dashBanner">
    <div class="back">
      &#8678;
    </div>
    <br>
    <div class="dashLogin">About the Hunt</div>
  </div>
  <br><br>  <br><br><br>
<div class="aboutHunt">
Cary's biggest adventure takes place Saturday, September 17, 2016 when

CaryCitizen creates the 7 th annual Cary Scavenger Hunt!

One part Amazing Race, one part Treasure Hunt, this adventure takes registered

teams on a quest all around Cary to find the answers to the most clues during a

limited amount of time, between 9:30am and 1:30pm.

Teams will be searching for Cary's Historical Markers, Public Art, Parks &amp;

Greenways, Schools, Local Businesses and more as the answers to our riddle-

filled clue book.

Teamwork is key and there is strategy involved. Teams will work to decipher as

many clues as possible before setting out to make the best use of their allotted

time. But no one team will answer all of the 70 questions- they must prioritize!

While questions are in the paper cluebook all answers must be logged in using

the Cary Scavenger Hunt phone app. Judges at the finish will work with team

captains to verify if answers are correct and create the final scores.

Top 3 tams in each of 3 team categories take home cash and trophies. Final

scores and team standings will be displayed online at:<br><br><br>

<span style="text-align: center">www.caryscavengerhunt.com</span>

</div>
  <br><br><br>
    <a href="https://www.iubenda.com/privacy-policy/7896919" target="_blank" class="iubenda-white no-brand iub-body-embed iubenda-embed" title="Privacy Policy">Privacy Policy</a>
    <script type="text/javascript">
      (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);
    </script>
</template>
