<template name="answerPage">
  <div class="answerContainer">
    <div class="dashBanner">
      <div class="backToQsBtn">
        Back to Questions
      </div>
      <br><br>
      <div class="questionText">question # {{theQuestion.questionNumber}}</div>
      <div class="questionText off">{{theQuestion.questionText}}</div>

    </div>

    <br><br><br>
    {{#if theQuestion.isSA}}
    <textarea id='sa-answer' placeholder="{{#if theQuestion.shortAnswer}}
    {{theQuestion.shortAnswer}}{{else}} Enter your short anwser here {{/if}}"></textarea>
    {{/if}}
    <br><br><br>

    <div class="PicGPSContainer">
      {{#if theQuestion.isPic}}
        <span id='uploadPic' class="picBox">this is where we'll do pic uploads</span>
      {{/if}}
      {{#if theQuestion.isGPS}}
      <span class="gpsBox">this is where the google map will go</span>
      {{/if}}
    </div>

    <br><br><br>

    {{#if theQuestion.isItem}}
      <form class="itemCheckFrm">Do you have the item refered to in this question?<br>
        Yeah, we got it!<input class="radioBtn" type="radio" name="gotItem" value="false">
        Nope.<input class="radioBtn" type="radio" name="gotItem" value="true">
      </form>
    {{/if}}

    <br><br><br>

    <div class="submitAnswerBtn">
      Submit Answer!
    </div>

    <div class="anwserDebug off">
      THIS IS ALL THE QUESTION INFORMATION WE HAVE.<br>
      short anwser: {{theQuestion.isSA}}<br>
      GPS required: {{theQuestion.isGPS}}<br>
      picture required: {{theQuestion.isPic}}<br>
      item required: {{theQuestion.isItem}}<br>
      team name: {{theQuestion.groupName}}<br>
      already anwsered: {{theQuestion.isAnswered}}
    </div>
  </div>
</template>
