<template name="answerPage">
    <div class="dashBanner">
      <div class="back">
        &#8678;
      </div>
      <br><br>
      <div class="dashTitle">Question {{theQuestion.questionNumber}}</div>
      <div class="questionText off">{{theQuestion.questionText}}</div>
    </div>
    <div class="answerContainer">

    <!-- {{> shortGray}} -->
    {{#if theQuestion.isSA}}
    <textarea id='sa-answer' placeholder="{{#if theQuestion.shortAnswer}}
    {{theQuestion.shortAnswer}}{{else}} Enter your short anwser here {{/if}}"></textarea>
    {{/if}}
    <br><br>

    <!-- <div class="PicGPSContainer"> -->
      {{#if theQuestion.isPic}}
        <span class="picBox">
          {{#if theQuestion.picUrl}}
            <img src="{{theQuestion.picUrl}}" width="90%"  height="350px" class="userPic">
          {{/if}}
          {{>uploader}}
        </span>
      {{/if}}
    <!-- </div> -->

    {{#if theQuestion.isItem}}
      <form class="itemCheckFrm">Do you have the item refered to in this question?<br>
        Yeah, we got it!<input class="radioBtn" type="radio" name="gotItem" value="false"><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Nope.<input class="radioBtn" type="radio" name="gotItem" value="true">
      </form>
    {{/if}}

    <br><br>

    <div class="submitAnswerBtn">
      Submit Answer!
    </div>

    <div class="anwserDebug off">
      THIS IS ALL THE QUESTION INFORMATION WE HAVE.<br>
      short anwser: {{theQuestion.isSA}}<br>
      GPS required: {{theQuestion.isGPS}}<br>
      picture required: {{theQuestion.isPic}}<br>
      item required: {{theQuestion.isItem}}<br>
      team name: {{theQuestion.groupName}}<br>
      already anwsered: {{theQuestion.isAnswered}}
    </div>
  </div>
</template>
