<template name='dashboard'>

    <div class="dashBanner">

      <div class="off modalGrey">

        <div class="hamMenu off animate slideInLeft">
          <br><br>
          <ul>
            <!-- <li>show all questions</li>
            <li>show only answered questions</li>
            <li>show only unanswered questions</li> -->
            <li>about the hunt</li><br>
            <li>Sponsors</li><br>
            <li><span class="logoutBtn">-Logout-</span></li><br>
          </ul>
        </div>
      </div>

      <span class="hamburger">Options</span>
      <br>
      <span class="dashLogin">You're logged in, {{currentUser.profile.name}}.</span><br><br>
      &nbsp;&nbsp;<span class="dashTitle">Questions</span>

    </div>

    <div class="dash">
      <br><br>
      <div class="allQuestions">
        {{#each questions}}

          {{>question}}<br><br>

        {{/each}}

      </div>
    </div>



</template>
