<template name='dashboard'>

    <div class="dashBanner">

      <div class="off modalGrey">

        <div class="hamMenu off animate slideInLeft">
          <br><br>
          <div class="iconDesc">
            ICON LEGEND:<br><br>
            {{> shortWhite}}<br>A question with this icon requires a short written answer.<br><br>
            {{> picWhite}}<br>A question with this icon requires a picture to be uploaded<br><br>
            {{> itemWhite}}<br>A question with this icon requires a specific item to be obtained<br><br>
          </div><br>
          <ul>
            <li class="menuOpt aboutPg">about the hunt</li><br>
            <li class="menuOpt sponsorsPg">Sponsors</li><br>
            <li class="logoutBtn">Logout</li><br><br>
            <li class= "menuOpt closeBurger">Close Options</li>
          </ul>
        </div>
      </div>

      <span class="hamburger">Options</span>
      <br>
      <span class="dashLogin">You're logged in, {{currentUser.profile.name}}.</span><br><br>
      &nbsp;&nbsp;<span class="dashTitle">Questions</span>

    </div>

    <div class="dash">
      <br><br>
      <div class="allQuestions">
        {{#each questions}}

          {{>question}}<br><br>

        {{/each}}

      </div>
    </div>



</template>
