<template name="leaderContainer">
  <div class="teamListContainer">

    <div class="teamList1">
      <div class="listTitle">Corporate Teams</div><br>
      <ul>
        {{#each leaderboard "corporate"}}
          <li class="leadTeamLink" id="{{this.teamName}}">{{this.teamName}}<br><span class="teamScore">{{this.overallPoints}}</span></li>
          <br>
        {{/each}}
      </ul>
    </div>

    <div class="teamList2">
      <div class="listTitle">Family Teams</div><br>
      <ul>
        {{#each leaderboard "family"}}
          <li class="leadTeamLink" id="{{this.teamName}}">{{this.teamName}}<br><span class="teamScore">{{this.overallPoints}}</span></li>
          <br>
        {{/each}}
      </ul>
    </div>

    <div class="teamList3">
      <div class="listTitle">Adult Teams</div><br>
      <ul>
        {{#each leaderboard "adult"}}
          <li class="leadTeamLink" id="{{this.teamName}}">{{this.teamName}}<br><span class="teamScore">{{this.overallPoints}}</span></li>
          <br>
        {{/each}}
      </ul>
    </div>

  </div>
</template>
