<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<template name ="loginPg">
  <div class="loginContainer">
    <img src="images/2016CSHlogo.jpg" class="heroImg">
    <div class="loginArea">
      <div class="needLog">
        {{> login}}
      </div>
       {{> loginSponsors}}
      <div class="needRegBtn">
        Click here to sign up!<br>
      </div>
      <br><br>
      <div class="off modalGrey">
        <div class="off modalBox animated slideInUp" id="regModal">
          <br><br>
          {{> register}}
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div class='sponsorImgs'>
      <br><br>
      Presented by:<br>
      <img src="images/cc_logo_7_color..png" height="60px" width="60%"><br>
      With Generous support from:<br>
      <img src="images/Triangle Family Dentistry logo-img.png" height="60px"><br>
      <img src="images/Carolina Ortho & Peds Logo FINAL (Filled Braces)-img.png" height="60px"><br>
    </div>
  </div>
</template>
