<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<template name ="loginPg">
  <div class="loginContainer">
    <img src="images/2016CSHlogo.jpg" class="heroImg">
    <div class="loginArea">
      <div class="needLog">
        {{> login}}
      </div>
       {{> loginSponsors}}
      <div class="needRegBtn">
        Click here to sign up!<br>
      </div>
      <br><br>
      <div class="off modalGrey">
        <div class="off modalBox animated slideInUp" id="regModal">
          <br><br>
          {{> register}}
        </div>
      </div>
    </div>
  </div>
</template>
