
<template name="question">

  <div class="qBoxWrap">
    <span class="qBox {{#if isAnswered}}answered{{/if}}">
      <div class="qNumberText">
        {{questionNumber}}
      </div>
      <div class="qIcons">
        {{#if isSA}}{{> shortGray}}{{/if}}
        {{#if isPic}}{{> picGray}}{{/if}}
        {{#if isGPS}}{{> GPSGray}}{{/if}}
        {{#if isItem}}{{> itemGray}}{{/if}}
      </div>

      <div class="qAnswerStatus">
        {{#if isAnswered}}{{> answeredQuestion}}Answered!{{else}}tap to anwser{{/if}}
      </div>

    </span>
  </div>

</template>
