<template name="question">

  <div class="qBox">

    <span class="qBoxLeft">{{questionNumber}}</span>
      <span class="qBoxMiddle">
        <div class="qtext">
          {{questionText}}
        </div>
        <div class="iconBox">
          {{#if isSA}}{{> shortGray}}{{/if}}
          {{#if isPic}}{{> picGray}}{{/if}}
          {{#if isGPS}}{{> GPSGray}}{{/if}}
          {{#if isItem}}{{> itemGray}}{{/if}}
        </div>
      </span>
    <span class="anwserTheQ">Tap to anwser</span>

  </div>

</template>
