
<template name="question">

  <div class="qBox">

    <span class="qBoxLeft {{#if isAnswered}}answered{{/if}}">{{questionNumber}}</span>
      <span class="qBoxMiddle">
        <div class="qtext">
          <!-- {{questionText}} -->
        </div>
        <div class="iconBox">
          {{#if isSA}}{{> shortGray}}{{/if}}
          {{#if isPic}}{{> picGray}}{{/if}}
          {{#if isGPS}}{{> GPSGray}}{{/if}}
          {{#if isItem}}{{> itemGray}}{{/if}}
        </div>
      </span>
    <span class="anwserTheQ {{#if isAnswered}}answered{{/if}}">
      {{#if isAnswered}}{{> answeredQuestion}}<br>Answered!<br>Tap to change{{else}}<br>Tap<br>to<br> anwser{{/if}}
    </span>

  </div>

</template>
