<template name="register">
  <div class="regModalText">
  Enter the same e-mail address you used  register for the scavenger hunt to sign up for this app!
  </div>

    <form class="regLogin" id="userRegFrm">
        <input class="regInput" id="regEmail" type="email" name="registerEmail" placeholder="E-mail Address">
        <br><br>
        <input class="regInput" id="regName" type="text" name="registerName" placeholder= "User Name">
        <br><br>
        <input class="regInput" id="regPass" type="password" name="registerPassword" placeholder="Choose A Password">
        <br><br>
        <input class="regInput" id="regPassConf" type="password" name="confirmPassword" placeholder="Confirm Password">
        <br><br>
        <input class="regInput" type="submit">
        <br><br>
        <div class="cancelReg">Cancel</div>
    </form>
</template>
