<template name="ResetPassword">


    <form action="/reset-password"  id="resetPasswordForm" method="post">
      <div>Cary Scavenger Hunt</div>
      <div class="reset-label"> Password Reset Form</div>
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm Password" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>

    <input class='reset-go-home' type="submit" value="Back to Login">
    <!-- end #reset-password-form -->

      <!-- <div>You Must have reached this page in error, there is no reset password token available</div> -->


</template>
