<template name="sponsorsPg">
  <div class="dashBanner">
    <div class="back">
      &#8678;
    </div>

    <div class="dashTitle">Sponsors</div>
  </div>
  <br><br><br><br><br>
  A hearfelt "Thank You" goes out to the following sponsors, Without whom the Cary Scavenger Hunt would not be possible:
  <br><br><br>
  <div class="sponsorLine">
    <span class="sponsorTitle">Host</span>
  </div>
  <br><br>
  The Town of Cary
  <br><br><br>
  <div class="sponsorLine">
    <span class="sponsorTitle">Presenting Sponsor</span>
  </div>
  <br><br>
  Cary Citizen
  <br><br><br>
  <div class="sponsorLine">
    <span class="sponsorTitle">Technology Sponsors</span>
  </div>
    <br><br>
    Triangle Family Dentistry
    <br><br>
    Carolina Orthodontics & Children's Dentistry
    <br><br><br>
  <div class="sponsorLine">
    <span class="sponsorTitle">Platinum Sponsors</span>
  </div>
    <br><br>
    Ashworth Drugs
    <br><br>
    Atlantic Tire & Service
    <br><br>
    Chick Fil A of Waverly
    <br><br>
    Great Harvest Bread
    <br><br>
    Mr Roof- Raleigh
    <br><br>
    NC DOT Rail Division
    <br><br>
    OrangeTheory Fitness
    <br><br>
    Triangle Table Tennis
    <br><br><br>
    <div class="sponsorLine">
      <span class="sponsorTitle">Gold Sponsors</span>
    </div>
    <br><br>
    Cary Family Eye Care
    <br><br>
    Cary Family YMCA
    <br><br>
    Dave and Busters
    <br><br>
    Duck Donuts
    <br><br>
    The Egg & I
    <br><br>
    Jumpstreet
    <br><br>
    The Mayton Inn
    <br><br>
    Maximillian’s Grill & Wine Bar
    <br><br>
    Reply OB/GYN & Fertility
    <br><br>
    Shuckin’ Shack Oyster Bar
    <br><br>
    Waverly Place
    <br><br><br>
    <div class="sponsorLine">
      <span class="sponsorTitle">Silver Sponsors</span>
    </div>
    <br><br>
    Dogtopia
    <br><br>
    Dorcas Ministries
    <br><br>
    Glenaire
    <br><br>
    Kramden Institute
    <br><br>
    School of Rock
    <br><br>
    Wake Academy
    <br><br><br>



</template>
