<template name="verifyPg">

{{> dash}}
<div class="backToTeams">Back to teams</div>
<br><br>

<div class="AnswerArea">

  <div class="answeredQuestionsList">

    <div class="off modalGrey"></div><!--end modalGray-->
      <div class="variablePtsModal animated slideInUp off">
        <br><br>
        This question requires a variable amount of points.<br>
        please enter the total amount of points earned by this team, for this question in the box below and click accept:<br><br>
        <input id="variablePtsinput"><br><br>
        <div class="button" id="variableBtn">Accept</div><br><br>
        <div class="button" id="variableCancelBtn">Cancel</div>
      </div>


    <div class="teamInfo">
      <span class="teamInfoEmphasis">{{selectedTeam.[0].teamName}}'s</span> total points: <span class="pts">{{selectedTeam.[0].overallPoints}}</span><br>
      All of <span class="teamInfoEmphasis">{{selectedTeam.[0].teamName}}'s</span> answered questions:
    </div>
    {{#each questions}}
      {{#if this.isAnswered}}
        <div class="oneQuestion" id="{{this.questionNumber}}">
          Question {{this.questionNumber}} >>
        </div>
      {{/if}}
    {{/each}}
  </div>

  <div class="questionAnswer">
      <div class="answerTitleWrapper">
        <span class="answerTitles">Answer to question
           <span class="qNum">{{questionToVerify.questionNumber}}</span>
        </span>
      </div>
      <div class="answerQuestionTextWrapper"><span class="answerTitles">Question:</span>
        <span class="questionText">{{questionToVerify.questionText}}</span>
      </div>
    {{#if questionToVerify.isSA}}
      <br>
      <div class="shortAnswerWrapper"><span class="answerTitles">Short Answer:</span>
        <span class="SA">{{questionToVerify.shortAnswer}}</span>
      </div>
    {{/if}}

    {{#if questionToVerify.isItem}}
    <br>
      <div class="itemWrapper"><span class="answerTitles">Do they have the item?:</span>
        <span class="item">
          {{questionToVerify.hasItem}}
        </span>
      </div>
    {{/if}}

    {{#if questionToVerify.isPic}}
    <br>
      <div class="imgURLWrapper"><span class="answerTitles">pic:</span><br>
        <span class="URL">
          <img src="{{questionToVerify.picUrl}}" height="300px" width="300px">
        </span>
      </div>
    {{/if}}

    <br>{{#if questionToVerify.isVerified}}
          This question has already been verified.
        {{else}}
      <div class="thumbsContainer">
        <span class="nope">
          Reject Answer<br>
          {{> thumbsDownIcon}}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="yep">
          Accept Answer<br>
          {{> thumbsUpIcon}}
        </span>
      </div>
      {{/if}}
  </div><!--end questionAnswer-->

</div>

</template>
