<template name="verifyPg">
{{> dash}}
<div class="backToTeams">Back to teams</div>
<br><br>

<div class="AnswerArea">

  <div class="answeredQuestionsList">
    <div class="teamTitle">
      All of this team's answered quesitons:
    </div>
    {{#each questions}}
      {{#if this.isAnswered}}
        <div class="oneQuestion" id="{{this.questionNumber}}">
          Question {{this.questionNumber}} >>
        </div>
      {{/if}}
    {{/each}}
  </div>

  <div class="questionAnswer">

      <div class="answerTitleWrapper">Answer to question <span class="qNum"></span></div>
      <div class="answerQuestionTextWrapper">Question: <span class="questionText"></span></div>
      <div class="shortAnswerWrapper">Short Answer: <span class="SA"></span></div>
      <div class="itemWrapper">Do they have the item?: <span class="item"></span></div>

      <div class="imgURLWrapper">pic:<br>
        <span class="URL">
          <img src="" height="300px" width="300px">
        </span>
      </div>

      <br><br>
      <div class="thumbsContainer">
        <span class="nope">
          Reject Answer<br>
          {{> thumbsDownIcon}}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="yep">
          Accept Answer<br>
          {{> thumbsUpIcon}}
        </span>
      </div>

  </div><!--end questionAnswer-->

</div>

</template>
